.sortable {
    cursor: pointer;
}

.product-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
}

/* Dòng sản phẩm */
.product-row {
    position: relative;
}

/* Description ẩn */
.desc-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Hover đúng dòng thì hiện */
.product-row:hover .desc-box {
    display: block;
}
